@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --black: #191919;
  --white:#f5f5f7;
  --mint: #beeedb;
  --mintbg: #eaf7f1;
  --aquamarine: #58e7b9;
  --vistablue: #96a9d9;
  --vistabluebg: #edf0fa;
  --dukeblue: #2b089d;
  --dukebluegardiant: linear-gradient(180deg, rgba(43,8,157,0) 0%, rgba(43,8,157,1) 20%, rgba(43,8,157,1) 80%, rgba(43,8,157,1) 100%);
  --dukeblue-dark: #1f066f;
  
  --fs-xl: clamp(3.5rem, 12vw + 1rem, 8rem);
  --fs-600: 2rem;
  --fs-400: 1rem;
}

.text-poppins {
    font-family: var(--poppins);
}

/* Swiper styles */

.swiper-button-next::after {
  color: var(--dukeblue);
}

.swiper-button-prev::after {
  color: var(--dukeblue);
}

.swiper-pagination-bullet {
  background-color: var(--vistablue)!important;
}

.swiper-pagination-bullet-active {
  background-color: var(--dukeblue)!important;
}

/*-----------------------------------------------------*/

/*H1*/

h1 {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 400;
  letter-spacing: -0.125rem;
}

@media (max-width: 996px) {
  h1 {
    font-size: 2.75rem;
    line-height: 3.25rem;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}


/*H2*/

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 500;
  letter-spacing: -0.1rem;
}

@media (max-width: 996px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 640px) {
  h2 {
    font-size: 2rem;
    line-height: 2.75rem;
  }
}


/*H3*/

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
}

@media (max-width: 996px) {
  h3 {
    font-size: 1.125rem;
    line-height: 1.35rem;
  }
}

@media (max-width: 640px) {
  h3 {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}


/*H4*/

h4 {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
}


/*Secondary links*/

.link-1 {
  text-decoration: none;
  position: relative;
  display: inline; /* Use inline to prevent block behavior */
  color: black;
  padding: 0 1px;
  transition: color ease 0.3s;
  font-weight: 500;
  background-image: linear-gradient(var(--mint), var(--mint));
  background-size: 100% 5px; /* Set the height of the underline */
  background-repeat: no-repeat;
  background-position: 0 100%; /* Position it at the bottom */
}

.link-1:hover {
  background-size: 100% 100%; /* Expand the background to cover the text */
}




.shadow-special {
  --tw-shadow: 0 5px 35px -20px var(--dukeblue-dark);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/*Logo carousel*/

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (min-width: 600px) {
.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
}

@media (max-width: 600px) {
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  }

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
}

.logos-slide {
  animation: 25s slide infinite linear;
}

/*Sima szövegbuborék*/

.bubble-left:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 18px;
  bottom: -20px;
  border-bottom-right-radius: 100%;
  background-color: var(--white);
  z-index: 10;
}

.bubble-right:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: 18px;
  bottom: -20px;
  border-bottom-left-radius: 100%;
  background-color: var(--white);
  z-index: 10;
}

.bubble-left-transparent:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 18px;
  bottom: -20px;
  border-bottom-right-radius: 100%;
  background-color: #ffffff49;
  z-index: 10;
}

.bubble-right-transparent:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: 18px;
  bottom: -20px;
  border-bottom-left-radius: 100%;
  background-color: #ffffff49;
  z-index: 10;
}

/*Szlogen szövegbuborék fül*/

#slogen:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: 18px;
  bottom: -18px;
  border-bottom-left-radius: 100%;
  background-color: var(--white);
  z-index: 10;
}

#slogen:before {
  content: "”";
  position: absolute;
  font-size: 96px;
  left: -10px;
  top: 9px;
  color: var(--dukeblue);
  z-index: 10;

}

/*Nagy név aláhúzás*/

.underlined-h::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  height: 25%;
  width: 105%;
  background-color: var(--dukeblue);
  z-index: -1;
  opacity: 0.75;
}

.underlined-p::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  height: 30%;
  width: 102%;
  background: linear-gradient(90deg, var(--mint), var(--vistablue));
  z-index: -1;
}


/*Buttons*/

.button-primary {
  appearance: none;
  background-color: var(--aquamarine);
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 16px 32px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  font-weight: 500;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  width: fit-content;
}

.button-primary:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: var(--dukeblue);
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-primary:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-primary:after {
  background-color: #000;
}

.button-primary span {
  z-index: 1;
  position: relative;
}


/*Gardient timeline*/

.gardient-timeline {
  background: rgb(43,8,157);
  background: linear-gradient(180deg, rgba(43,8,157,0) 0%, rgba(43,8,157,1) 20%, rgba(43,8,157,1) 80%, rgba(43,8,157,0) 100%);
}